### Budget

{% if blocks.budget is defined -%}
{{ blocks.budget }}
: {{ meta.short | title }} Proposed {{ meta.duration | title }} Budget
{% endif %}

{%- if blocks.get('budget_justification') %}
{{ blocks.budget_justification }}
{% endif %}