{{ meta.title }}
=============================
{% for a in meta.authors %}
- {{ people[a]['name'] }}
  {%- if people[a].get('credential') %}, {{ people[a]['credential'] }}{% endif %}
  {%- if people[a].get('affiliation') %}, {{ people[a]['affiliation'] }}{% endif %}
{%- endfor %}

{{ meta.date | strftime }}