Resources
------------------

{% include 'key_personnel.md.j2' %}

{%% include 'equipment.md.j2' %%}

{%% include 'facilites.md.j2' %%}

{%% include 'budget.md.j2' %%}

{%% include 'timeline.md.j2' %%}
